<div class="main_right_g">
	<div class="header">
		
		<div class="inner">
			<h2>Employee Application</h2>
		</div>
	</div>
	<div class="center_g">
		<p>
			Here you can create new applications, manage your application, and check the status of your application.
			<br /> <br />
			Use the links on the left to navigate.
		</p>
	</div>
	<div class="bottom">
		
	</div>		
</div>