<div class="main_right">
	<div class="header">
		<div class="logo">
			<!--<img width="295" height="288" src="/images/Logo1.jpg" alt="logo placement" />-->
			<img width="295" height="288" src="/B-Unique/images/Logo1.jpg" alt="logo placement" />
		</div>
		<div class="ads">
			<div class="ad1">
						
			</div>
			<div class="ad2">
				<!--<img width="450" height="140" src="/images/adimage1.png" alt="ad placement" />	-->
				<img width="450" height="140" src="/B-Unique/images/adimage1.png" alt="ad placement" />	
			</div>
		</div>
		
	</div>
	<div class="inner">
			<h2>Confirmation</h2>
		</div>
	<div class="center">
		<p>Your have successfully submitted your application. 
			A confirmation email has been sent to your email address.</p><br /><br />
		<span class="appId">APPLICATION ID: <%= @appCode%></span><br /><br /><br />
		<div class="instruction">
			Plese take note of your application ID because you will use it to check the status of your application. 
			Please also note that your application will only be processed after you pay the application fee.
		</div>	
		<br /><br />
		<div class="paypal">Click here to make your payment</div>		
	</div>
	<div class="bottom">
		
	</div>		
</div>



