<div class="main_right">
	<div class="header">
		<div class="logo">
			<img width="295" height="288" src="images/Logo1.jpg" alt="logo placement" />
		</div>
		<div class="ads">
			<div class="ad1">
						
			</div>
			<div class="ad2">
				<img width="450" height="140" src="images/BTS.jpg" alt="ad placement" />		
			</div>
		</div>
		
	</div>
	<div class="inner">
			<h2><%= markdown(@page.title)%></h2>
		</div>
	<div class="center">
		<%= markdown(@page.body)%>

		<p>
			<ul>
				<li><img src="images/bullet.png" /> Veterans Benefits</li>
				<li><img src="images/bullet.png" /> South Carolina Vocational Rehabilitation</li>
				<li><img src="images/bullet.png" /> South Carolina Shared Program</li>
				<li><img src="images/bullet.png" /> One Stop Work Investment Act, (WIA)</li>
				<li><img src="images/bullet.png" /> Win-A-Way to Success</li>
				<li><img src="images/bullet.png" /> SC Telco Credit Union</li>
				
			</ul>
			
		</p>
	</div>
	<div class="bottom">
		
	</div>		
</div>



