<div class="main_right">
	<div class="header">
		<div class="logo">
			<img width="295" height="288" src="images/Logo1.jpg" alt="logo placement" />
		</div>
		<div class="ads">
			<div class="ad1">
				<div id="sbox2" class="right">
					LIMITED TIME: <br/>No Registration/ Application Fee. Start Your Career NOW
				</div>
						
			</div>
			<div class="ad2">
				<img width="450" height="140" src="images/adimage1.png" alt="ad placement" />		
			</div>
		</div>
	
		
	</div>
	<div class="inner">
			<h2><%= markdown(@page.title)%></h2>
		</div>
	<div class="center">
		<p class="large_font">
		<%= markdown(@page.body)%>
		</p>
	</div>
	<div class="bottom">
		
		<!-- <iframe width="560" height="349" src="http://www.youtube.com/embed/oWYTRQEHJ7o" frameborder="0" allowfullscreen>
		</iframe>-->
	</div>		
</div>