<div class="main_right">
	<div class="header">
		<div class="logo">
			<img width="295" height="288" src="images/Logo1.jpg" alt="logo placement" />
		</div>
		<div class="ads">
			<div class="ad1">
						
			</div>
			<div class="ad2">
				<img width="450" height="140" src="images/adimage1.png" alt="ad placement" />		
			</div>
		</div>
		
	</div>
	<div class="inner">
			<h2><%= markdown(@page.title)%></h2>
		</div>
	<div class="center">
		<%= markdown(@page.body)%>
		<div id="longbox">
			<div class="left">
				<img src="images/image913.jpg" width="80" height="90" />
			</div>
			
				<div class="employee_desc">
					<span>Shanita Peppers: Owner/Director of Operations</span>
					<br/><br/>
					<span>Credentials: Barber school Owner, Barber Shop Owner, License Cosmetology, License Nail Technician, License Master Barber, License Barber Instructor, Notary, Life Coach.</span>
				</div>
			
		</div>
		<div id="longbox">
			<div class="left">
				<img src="images/dfin.jpg" width="80" height="90" />
			</div>
			
				<div class="employee_desc">
					<span>Okey Uzor: Director of Finance</span>
					<br/><br/>
					<span>Credentials: Bachelor of Science in Accounting, Graduate program with emphasis in taxes. Has over 22 years experience in corporate accounting/finance, auditing, and taxes.</span>
				</div>
			
		</div>
		<div id="longbox">
			<div class="left">
				<img src="images/fbk12-1.jpg" width="80" height="90" />
			</div>
			
				<div class="employee_desc">
					<span>Fortrail Chiles: </span>
					<br/><br/>
					<span>Credentials: Certified Loctician that specializes in natural hair. Owner of Salon "My Locs Roc".</span>
				</div>
			
		</div>
		<div id="longbox">
			<div class="left">
				<img src="images/image745.jpg" width="80" height="90" />
			</div>
			
				<div class="employee_desc">
					<span>Shanekia Byrd: Theory Instructor</span>
					<br/><br/>
					<span>Credentials: Licensed Master Barber, Licensed Barber Instructor,  Freelance Stylist specialized in natural beauty enhancements, haircutting, and styling.</span>
				</div>
			
		</div>
		<div id="longbox">
			<div class="left">
				<img src="images/image744.jpg" width="80" height="90" />
			</div>
			
				<div class="employee_desc">
					<span>Rena Glenn: Clinical/Lead Instructor </span>
					<br/><br/>
					<span>Credentials: License Cosmetology, License Master Barber, License Barber Instructor and Salon Owner.</span>
				</div>
			
		</div>
		<div id="longbox">
			<div class="left">
				<img src="images/image753.jpg" width="80" height="90" />
			</div>
			
				<div class="employee_desc">
					<span>Alvin Reid: Platform Barber, Educator, Life Coach, Instructor Trainee</span>
					<br/><br/>
					<span>Credentials: Owner of ABMAAM, Instructor Trainee.</span>
				</div>
			
		</div>
		<div id="longbox">
			<div class="left">
				<img src="images/image742.jpg" width="80" height="90" />
			</div>
			
				<div class="employee_desc">
					<span>Indiasha Peppers: Part-Time Instructor Trainee</span>
					<br/><br/>
					<span>Credentials: Licensed Master Barber, Barber Instructor Trainee, specialized in natural haircare.</span>
				</div>
			
		</div>
		<div id="longbox">
			<div class="left">
				<img src="images/image1714.png" width="80" height="90" />
			</div>
			
				<div class="employee_desc">
					<span>Advisory Board</span>
					<br/><br/>
					<span>Shanita Peppers (Owner), Ben Anderson (Owner), Shanika Byrd (Barber Instructor) , Jerry Kirkland(Former Student), Doug Mayfield (Student ), Alvin Reid (Platform Barber), Greg Neal (Contract Worker), Rena Glenn (Salon Owner). </span>
				</div>
			
		</div>
	</div>
	<div class="bottom">
		
	</div>		
</div>



