<div class="footer">
	<div class="inner_footer">
			<div class="left">
				&copy;2013 B-Unique Barber Academy. All Rights Reserved. 
				<%= link_to 'Contact Us', contact_path%> | <%= link_to 'Office Use', login_path%>
			</div>	
			<div class="right">
				Developed by <a href="http://www.slybase.com" target="_blank" ">SlyBase Services</a>
			</div>	
	</div>	
</div>