<div id="header">
	<span>
			<img class="imgborder" width="140" height="138" src="/images/Logo1.jpg" alt="logo placement" />
		</span>
		<span>
			<img src="/images/header-name.png" alt="logo placement" />
		</span>
		<span class="sbox3">
			<iframe src="http://files.bannersnack.com/iframe/embed.html?hash=b7xnwk9n&bgcolor=%23FFFFFF&wmode=opaque&t=1363164366" width="145" height="120" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
		</span>
</div>

<div class="clear"></div>
